<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/table/style.css" />
  </head>
  <body>
    <%- include ('./admin-nav.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="margin-left: 100px;">
          <form
            action="/new-course"
            enctype="application/x-www-form-urlencoded"
            method="post"
          >
            <div class="form-group" style="width: 600px; display: flex; justify-content:space-between; margin-left: 40px; margin-top: 40px;">
              <input type="text" name="title" value="Vue Js" class="form-control" style="margin-right: 10px;"/>
              <input type="text" name="price" value="700000" class="form-control" style="margin-right: 10px;"/>
              <button type="submit" class="btn btn-primary">ADD</button>
            </div>
          </form>
          <div class="table-wrap">
            <ol id="list" style="list-style: none">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th style="font-size: 18px;">№</th>
                    <th style="font-size: 18px;">Name</th>
                    <th style="font-size: 18px;">Price</th>
                    <th style="font-size: 18px;">&times;</th>
                  </tr>
                </thead>
                <tbody>
                  <% courses.map(el => { %>
                  <li>
                    <tr>
                      <td><%= el.id %></td>
                      <td><%= el.title %></td>
                      <td><%= el.price %></td>
                      <td>
                        <form>
                          <button
                            data-id="<%= el.id %>"
                            class="go-btn"
                            id="delete"
                          >
                            delete
                          </button>
                        </form>
                      </td>
                    </tr>
                  </li>
                  <% }) %>
                </tbody>
              </table>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/table/js/jquery.min.js"></script>
    <script src="/public/table/js/popper.js"></script>
    <script src="/public/table/js/bootstrap.min.js"></script>
    <script src="/public/table/js/main.js"></script>
    <script>
      const list = document.querySelector("#list");
      list.addEventListener("click", (evt) => {
        evt.preventDefault();
        let course_id;
        evt.target.dataset.id ? (course_id = evt.target.dataset.id) : "";
        document.cookie = "course_id" + "=" + (course_id || "");

        fetch("http://localhost:6060/delete-course", {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ course_id }),
        });
        window.location.reload();
      });
    </script>
  </body>
</html>
